/*Float transition*/
.float-enter-active,
.float-leave-active {
  transition: .35s ease;
}

.float-enter-from,
.float-leave-active {
  opacity: 0;
  transform: translateX(50%);
}

/*Float-up transition*/
.float-up-enter-active,
.float-up-leave-active {
  transition: .35s ease;
}

.float-up-enter-from,
.float-up-leave-active {
  opacity: 0;
  transform: translateY(30%);
}

/*Fade transition*/
.fade-enter-active,
.fade-leave-active {
  transition: .35s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}